Holder binding process underspecified in RFC001, RFC002 and RFC003

This is continuation of #160 which was not fully reflected in all documents and there are some inconsistencies.

Holder binding requires:

1.  Wallet to put public key in proof in credential request
2.  Issuer will get public key and verify signature over nonce and than put public key in cnf in issued credential
3.  Verifier to get public key from cnf and verify signature in vp_token

Because there is a lot of different methods how public key can be specified it is hard to achieve interoperability of implementations.
Current state in our RFCs is as follows:

- RFC001 says in https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md#673-proof-types that for key specification it is possible to use "jwk or kid (RECOMMENDED)".  In Appendix A https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md#appendix-a-public-key-resolution  it is a more specific that kid could potentially be did but it doesn't define specific did method and doesn't say anything what to do if kid is not did.
- RFC002 doesn't say anything about requirement for verifiers which public key resolution methods should be supported by compliant verifiers
- RFC003 on the contrary suggest to use jwk instead of kid in the note in https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc003-issue-person-identification-data.md#311-credential-response

There two options how to make it interoperable:
 - We will say that kid MUST be did and nothing else and we specify method (like did:key)
 - We will agree on jwk as the alternative and will not used kid for this (I'd suggest this as an option)

RFC001, RFC002 and RFC003 will need to be updated accordingly

 @endimion @lalc @georgepadayatti 