RFC001: "direct_post: response_uri is error labled as redirect_uri"

According to OIDC4VP draf18: https://openid.net/specs/openid-4-verifiable-presentations-1_0-ID2.html the way to pass the  Authorization Response using an HTTPS POST request as defined by the Response Mode direct_post is response_uri

But RFC001 section 3.6 [response_uri](url) as part labels this as: "rerdirect_uri"