RFC / OIDC4VP / sd-jwt discrepancy


Hi there!

# Problem

Although for Phase 2 we have to use SD-JWT,  [EWC RFC002: Present Verifiable Credentials - v1.0](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc002-present-verifiable-credentials.md) does not have any specific reference to SD-JWT. We can find a reference to SD-JWT in [EWC RFC100: Interoperability Profile Towards ITB - v2.0](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc100-interoperability-profile-towards-itb-v1.0.md).  The [details provided](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc100-interoperability-profile-towards-itb-v1.0.md#70-rfc-v20-compliance-details) in this RFC define using IETF SD-JWT specification as the reference. **However, IETF SD-JWT specification does not define `vp+sd-jwt` as the RFC suggests.  Therefore, we wonder where this value specified in the RFC has been taken taken from.**

# Current assumption


- [EWC RFC002: Present Verifiable Credentials - v1.0](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc002-present-verifiable-credentials.md) defines that we must follow OID4VP Draft 18 as the reference. Since this draft makes no reference to SD-JWT, we assume that we should present SD-JWT as any other credential within `jwt_vp` or `jwt_vp_json`. Actually, this is what we have implemented to meet ITB expectations (tests are passing).


# Problem fix suggestion (open for discussion)

- If we want to avoid this assumption, we should update the RFC to use [OIDC4VP Draft 23](https://openid.net/specs/openid-4-verifiable-presentations-1_0-23.html#name-presentation-response-5) which introduces SD-JWT presentations based on [IETF SD-JWT VC v6](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-sd-jwt-vc-06). However, notice that this specification **does not define `vp+sd-jwt` but `dc+sd-jwt`** (so the RFC is incorrect and must be fixed) .

- Since we are a week away to start the piloting in Phase 2, we may consider to perform this change in Phase 3. We would like to open the discussion with the rest of providers. If we postpone this decision to Phase 3, we may even be able to consider using latest [OIDC4VC HAIP](https://openid.net/specs/openid4vc-high-assurance-interoperability-profile-1_0.html) (updated just a week ago) which is referenced in [EWC RFC001: Issue Verifiable Credential - v2.0](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md#60reference).


Thanks

Thanks for raising this issue. I am coping the slack discussion here to summarise the latest discussions:

Here is the summary of our situation and the two options we have. Please note that we ONLY follow the Implementors Draft (ID):

1. EWC uses `vp+sd-jwt` today. ID2 (draft 18) didn't specify presentation requests for SD-JWTs, so we introduced our "opinionated" definition. This was missed to be cross-checked during Phase 02 RFC handling.
2. Draft 23 or ID3 says `dc+sd-jwt`.

The question is if we want to move to ID3  `dc+sd-jwt` now and adopt or wait for phase 03.

Please let me know if I have captured the situation correctly and if you have any other opinions. 

@georgepadayatti We will raise a PR now to support option 2. It will be merged and approved as a new release ONLY when all the wallet providers that actively contributed during Phase 01/Phase 02 sign off

PR: https://github.com/EWC-consortium/eudi-wallet-rfcs/pull/148