Typo on Wallet Providers regarding UAegean/CFF

There is  a typo in the [RFC001](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc001-issue-verifiable-credential.md#50implementers), [RFC002](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc002-present-verifiable-credentials.md#50implementers), [RFC100](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/ewc-rfc100-interoperability-profile-towards-itb-v1.0.md#60implementers)  and the main [readme](https://github.com/EWC-consortium/eudi-wallet-rfcs/blob/main/README.md#implementers) denoting UAegean/CFF as a Holder provider instead of Issuer. 

The correct values for UAegean/CFF is Issuer/Verifier. 

