RFC-012 ETSI 119 612 compatibility


In section 4.2.2 the validation process seems to indicate that the X509Certificate entry is one of 3 alternative ways to match the x5c. The language has several issues:

1. The intent of a trust status list is to list trusted issuers. The validation of an individual end-entity certificate does not involve finding the certificate on the TSL but rather involves building a (set of) candidate certificate chain that ends in a certificate on the TSL. The language should spell this out. Furthermore, clear references to what parts of section 6 of RFC 5280 applies and also how the policy elements of the TSL should be used - eg the <ServiceTypeIdentifier/> - to restrict what TSPService elements are in scope for providing roots to the validation algorithm.

2. The use of <X509SKI/> and <X509SubjectName/> is dangerous and their use in matching should be changed to a MUST NOT. The issue is as follows: The TSL is published by one entity and (hopefully in production settings) digitally signed by a key belonging to the issuer. That signature represents the statement by the TSL issuer that the policy represented in the TSL applies to each invidual TSPService entry. The X509Certificate entry represents the root key of said TSPService. This certificate is signed by a different key - namely the one of the TSP itself (self-signed root) or a cross-signing CA. This is a different key representing a different security context than the TSL publisher. 

Now suppose that during publication the TSL issuer somehow - by misstake or because it is under attack - publishes a TSL where the X509SKI doesn't match the actual SKI of the provided X509Certificate. Since the X509Certificate is mandatory according to ETSI TS 119 612 v2 and so the question becomes: which "version" of the SKI should the consumer of the TSL use?

When the SKI is used only for informational purposes this is bad enough but when it is used to provide a trust function as in RFC 012 this is a potential attack vector against the trust layer of the EUDI wallet. 

The resonable conclusion is that the use of X509SKI and X509SubjectName should be discouraged and that these elements MUST NOT be used for matching, comparing or any other function related to the trust processing. 